In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
#from wordcloud import WordCloud
import seaborn as sns
import bar_chart_race as bcr
import datetime as dt

In [27]:
nba_players = pd.read_csv("../data_files/fullplayerstatslist.csv")
nba_players

,Unnamed: 0,Unnamed: 0.1,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,...,Turnovers,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date
0,0,0,LeBron,James,0afbe608-940a-4d5d-a1f7-468718c67d91,F,19,50.0,81.818,0.0,...,4,Cavaliers,1,1,117,32:23,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
1,1,1,James,Jones,09d25155-c3be-4246-a986-55921a1b5e61,G-F,5,100.0,0.000,100.0,...,0,Cavaliers,1,1,117,5:30,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
2,2,2,J.R.,Smith,5934134d-0d27-42ea-a554-4b0e3e85ce56,G-F,8,0.0,20.000,25.0,...,0,Cavaliers,1,1,117,25:14,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
3,3,3,Kay,Felder,8d3acdd5-9b5a-4d69-9912-de42d979c31a,G,0,0.0,0.000,0.0,...,0,Cavaliers,1,1,117,00:00,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
4,4,4,Mike,Dunleavy,4ec1bff7-ec1b-488b-8a24-aed83e62b4ce,G-F,4,0.0,100.000,0.0,...,0,Cavaliers,1,1,117,22:32,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182364,8965,8965,Marial,Shayok,0a530034-a07c-4db3-a99e-17c5254c07e1,G-F,5,100.0,0.000,33.3,...,1,76ers,0,1,134,7:56,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182365,8966,8966,Josh,Richardson,ef11cca9-6605-44e8-943e-193c7b821465,G,5,0.0,50.000,50.0,...,0,76ers,0,1,134,23:18,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182366,8967,8967,Glenn,Robinson III,7f462af0-2ac8-4ca5-aa5a-17b37dc5001b,F,0,0.0,0.000,0.0,...,0,76ers,0,1,134,00:00,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182367,8968,8968,Raul,Neto,8e7ffd66-f779-418c-bf18-b9f746a1c5fe,G,14,71.4,60.000,33.3,...,0,76ers,0,1,134,18:44,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00
182368,8969,8969,Tobias,Harris,82f09975-6a8d-42e4-b42c-a52b9349ed50,F,18,100.0,57.100,66.7,...,0,76ers,0,1,134,23:58,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00

In [3]:
nba_players['player_name'] = nba_players['First_Name'].str.cat(nba_players['Last_Name'], sep =" ")
nba_top50 = nba_players[['player_name', 'Points','Position','game_date']]
nba_top50

               player_name  Points Position                  game_date
0             LeBron James      19        F  2016-10-25T23:30:00+00:00
1              James Jones       5      G-F  2016-10-25T23:30:00+00:00
2               J.R. Smith       8      G-F  2016-10-25T23:30:00+00:00
3               Kay Felder       0        G  2016-10-25T23:30:00+00:00
4            Mike Dunleavy       4      G-F  2016-10-25T23:30:00+00:00
...                    ...     ...      ...                        ...
182364       Marial Shayok       5      G-F  2020-08-15T01:00:00+00:00
182365     Josh Richardson       5        G  2020-08-15T01:00:00+00:00
182366  Glenn Robinson III       0        F  2020-08-15T01:00:00+00:00
182367           Raul Neto      14        G  2020-08-15T01:00:00+00:00
182368       Tobias Harris      18        F  2020-08-15T01:00:00+00:00

[182369 rows x 4 columns]

In [4]:
nba_top50['Date'] = pd.to_datetime(nba_top50['game_date'], errors='coerce')
nba_top50.dtypes

/Users/specky3512/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

player_name                 object
Points                       int64
Position                    object
game_date                   object
Date           datetime64[ns, UTC]
dtype: object

In [5]:
nba_top50['Date'] = nba_top50['Date'].dt.normalize()

/Users/specky3512/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
nba_top50['Date'] = nba_top50['Date'].dt.date

/Users/specky3512/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
nba_top50.head()

     player_name  Points Position                  game_date        Date
0   LeBron James      19        F  2016-10-25T23:30:00+00:00  2016-10-25
1    James Jones       5      G-F  2016-10-25T23:30:00+00:00  2016-10-25
2     J.R. Smith       8      G-F  2016-10-25T23:30:00+00:00  2016-10-25
3     Kay Felder       0        G  2016-10-25T23:30:00+00:00  2016-10-25
4  Mike Dunleavy       4      G-F  2016-10-25T23:30:00+00:00  2016-10-25

In [8]:
nba_top10 = nba_top50.groupby('player_name').sum()['Points']
nba_top10 = nba_top10.sort_values(ascending=False)
nba_top10 = nba_top10.head(10)
nba_top10

player_name
Damian Lillard           9787
Russell Westbrook        9699
Giannis Antetokounmpo    9392
Anthony Davis            9300
LeBron James             9262
Bradley Beal             9017
DeMar DeRozan            8832
James Harden             8683
Kemba Walker             8524
Karl-Anthony Towns       8408
Name: Points, dtype: int64

In [9]:
nba_data = nba_top50.pivot_table(index='Date',columns='player_name',values='Points')
nba_data = nba_data[nba_top10.index.values]
nba_data

player_name,Damian Lillard,Russell Westbrook,Giannis Antetokounmpo,Anthony Davis,LeBron James,Bradley Beal,DeMar DeRozan,James Harden,Kemba Walker,Karl-Anthony Towns
Date,,,,,,,,,,
2016-10-25,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN
2016-10-26,39.0,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN
2016-10-27,NaN,32.0,31.0,50.0,NaN,13.0,NaN,34.0,17.0,21.0
2016-10-28,29.0,NaN,NaN,NaN,21.0,NaN,32.0,NaN,NaN,NaN
2016-10-29,NaN,51.0,NaN,45.0,23.0,NaN,NaN,26.0,26.5,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-08-11,61.0,20.0,NaN,27.0,29.0,NaN,23.0,0.0,19.0,NaN
2020-08-12,NaN,0.0,12.0,NaN,NaN,NaN,NaN,45.0,NaN,NaN
2020-08-13,NaN,NaN,0.0,0.0,17.0,NaN,0.0,NaN,0.0,NaN
2020-08-14,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-15,NaN,0.0,NaN,NaN,NaN,NaN,NaN,27.0,NaN,NaN

In [10]:
nba_data = nba_data.fillna(0)
nba_data

player_name,Damian Lillard,Russell Westbrook,Giannis Antetokounmpo,Anthony Davis,LeBron James,Bradley Beal,DeMar DeRozan,James Harden,Kemba Walker,Karl-Anthony Towns
Date,,,,,,,,,,
2016-10-25,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0
2016-10-26,39.0,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0
2016-10-27,0.0,32.0,31.0,50.0,0.0,13.0,0.0,34.0,17.0,21.0
2016-10-28,29.0,0.0,0.0,0.0,21.0,0.0,32.0,0.0,0.0,0.0
2016-10-29,0.0,51.0,0.0,45.0,23.0,0.0,0.0,26.0,26.5,0.0
...,...,...,...,...,...,...,...,...,...,...
2020-08-11,61.0,20.0,0.0,27.0,29.0,0.0,23.0,0.0,19.0,0.0
2020-08-12,0.0,0.0,12.0,0.0,0.0,0.0,0.0,45.0,0.0,0.0
2020-08-13,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0
2020-08-14,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0

In [11]:
nba_data = nba_data.cumsum()
nba_data

player_name,Damian Lillard,Russell Westbrook,Giannis Antetokounmpo,Anthony Davis,LeBron James,Bradley Beal,DeMar DeRozan,James Harden,Kemba Walker,Karl-Anthony Towns
Date,,,,,,,,,,
2016-10-25,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0
2016-10-26,39.0,0.0,0.0,0.0,19.0,0.0,40.0,0.0,0.0,0.0
2016-10-27,39.0,32.0,31.0,50.0,19.0,13.0,40.0,34.0,17.0,21.0
2016-10-28,68.0,32.0,31.0,50.0,40.0,13.0,72.0,34.0,17.0,21.0
2016-10-29,68.0,83.0,31.0,95.0,63.0,13.0,72.0,60.0,43.5,21.0
...,...,...,...,...,...,...,...,...,...,...
2020-08-11,7692.0,7057.0,7478.0,7082.5,7076.0,7163.0,6760.0,6211.0,6640.0,6300.0
2020-08-12,7692.0,7057.0,7490.0,7082.5,7076.0,7163.0,6760.0,6256.0,6640.0,6300.0
2020-08-13,7692.0,7057.0,7490.0,7082.5,7093.0,7163.0,6760.0,6256.0,6640.0,6300.0
2020-08-14,7734.0,7057.0,7490.0,7082.5,7093.0,7163.0,6760.0,6256.0,6640.0,6300.0
2020-08-15,7734.0,7057.0,7490.0,7082.5,7093.0,7163.0,6760.0,6283.0,6640.0,6300.0

In [12]:
#bcr.bar_chart_race(df=nba_data, filename=None)

In [13]:
#bcr.bar_chart_race(nba_data, 'nba.mp4')

In [14]:
games = pd.read_csv("../data_files/game_id_list.csv")
games.head()

,Unnamed: 0,Game_id,Home_Team,Away_Team,Season
0,0,0da78f13-73ac-4465-8e31-ecc3029a5dc6,583ec773-fb46-11e1-82cb-f4ce4684ea4c,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,2015
1,1,5166289e-69f2-4761-854e-4c72a43d8d9c,583ed056-fb46-11e1-82cb-f4ce4684ea4c,583ece50-fb46-11e1-82cb-f4ce4684ea4c,2015
2,2,50e4c425-e26c-4740-8cd7-897919315b23,583ec825-fb46-11e1-82cb-f4ce4684ea4c,583ecd4f-fb46-11e1-82cb-f4ce4684ea4c,2015
3,3,68c96738-a127-4d74-a5eb-de5ae2af3abe,583ec7cd-fb46-11e1-82cb-f4ce4684ea4c,583ecf50-fb46-11e1-82cb-f4ce4684ea4c,2015
4,4,d6bc803b-1bcd-463c-bb06-da91ebac4b0a,583ed157-fb46-11e1-82cb-f4ce4684ea4c,583ecea6-fb46-11e1-82cb-f4ce4684ea4c,2015

In [28]:
merged_data = nba_players.merge(games, left_on='game_id', right_on='Game_id')
merged_data

,Unnamed: 0_x,Unnamed: 0.1,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,...,Min_played,Crowd,Stadium_Cap,game_id,game_date,Unnamed: 0_y,Game_id,Home_Team,Away_Team,Season
0,0,0,LeBron,James,0afbe608-940a-4d5d-a1f7-468718c67d91,F,19,50.0,81.818,0.0,...,32:23,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00,0,0da78f13-73ac-4465-8e31-ecc3029a5dc6,583ec773-fb46-11e1-82cb-f4ce4684ea4c,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,2015
1,0,0,LeBron,James,0afbe608-940a-4d5d-a1f7-468718c67d91,F,19,50.0,81.818,0.0,...,32:23,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00,0,0da78f13-73ac-4465-8e31-ecc3029a5dc6,583ec773-fb46-11e1-82cb-f4ce4684ea4c,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,2016
2,1,1,James,Jones,09d25155-c3be-4246-a986-55921a1b5e61,G-F,5,100.0,0.000,100.0,...,5:30,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00,0,0da78f13-73ac-4465-8e31-ecc3029a5dc6,583ec773-fb46-11e1-82cb-f4ce4684ea4c,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,2015
3,1,1,James,Jones,09d25155-c3be-4246-a986-55921a1b5e61,G-F,5,100.0,0.000,100.0,...,5:30,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00,0,0da78f13-73ac-4465-8e31-ecc3029a5dc6,583ec773-fb46-11e1-82cb-f4ce4684ea4c,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,2016
4,2,2,J.R.,Smith,5934134d-0d27-42ea-a554-4b0e3e85ce56,G-F,8,0.0,20.000,25.0,...,25:14,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00,0,0da78f13-73ac-4465-8e31-ecc3029a5dc6,583ec773-fb46-11e1-82cb-f4ce4684ea4c,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255603,8965,8965,Marial,Shayok,0a530034-a07c-4db3-a99e-17c5254c07e1,G-F,5,100.0,0.000,33.3,...,7:56,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00,1320,0fca55cb-4bc8-4646-a2e6-75d95a20270b,583ecb3a-fb46-11e1-82cb-f4ce4684ea4c,583ec87d-fb46-11e1-82cb-f4ce4684ea4c,2019
255604,8966,8966,Josh,Richardson,ef11cca9-6605-44e8-943e-193c7b821465,G,5,0.0,50.000,50.0,...,23:18,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00,1320,0fca55cb-4bc8-4646-a2e6-75d95a20270b,583ecb3a-fb46-11e1-82cb-f4ce4684ea4c,583ec87d-fb46-11e1-82cb-f4ce4684ea4c,2019
255605,8967,8967,Glenn,Robinson III,7f462af0-2ac8-4ca5-aa5a-17b37dc5001b,F,0,0.0,0.000,0.0,...,00:00,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00,1320,0fca55cb-4bc8-4646-a2e6-75d95a20270b,583ecb3a-fb46-11e1-82cb-f4ce4684ea4c,583ec87d-fb46-11e1-82cb-f4ce4684ea4c,2019
255606,8968,8968,Raul,Neto,8e7ffd66-f779-418c-bf18-b9f746a1c5fe,G,14,71.4,60.000,33.3,...,18:44,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00,1320,0fca55cb-4bc8-4646-a2e6-75d95a20270b,583ecb3a-fb46-11e1-82cb-f4ce4684ea4c,583ec87d-fb46-11e1-82cb-f4ce4684ea4c,2019
255607,8969,8969,Tobias,Harris,82f09975-6a8d-42e4-b42c-a52b9349ed50,F,18,100.0,57.100,66.7,...,23:58,Covid,8000,0fca55cb-4bc8-4646-a2e6-75d95a20270b,2020-08-15T01:00:00+00:00,1320,0fca55cb-4bc8-4646-a2e6-75d95a20270b,583ecb3a-fb46-11e1-82cb-f4ce4684ea4c,583ec87d-fb46-11e1-82cb-f4ce4684ea4c,2019

In [26]:
nba_wins = merged_data.groupby(["Team",'game_id'])
nba_wins['game_id'].unique()
nba_wins.count(['Win/Loss'])

TypeError: count() takes 1 positional argument but 2 were given

In [ ]:
nba_team = merged_data.groupby(['Season','Team']).sum()[['Points']]
nba_team

In [ ]:
win_percentage =

In [ ]:
import plotly.express as px

fig = px.scatter(nba_team, x="Season", y="lifeExp",
         size="pop", color="continent",
                 hover_name="country", log_x=True, size_max=60)
fig.show()