In [1]:
import pandas as pd
from datetime import datetime
import requests as request
from pprint import pprint
import time
from dateutil.relativedelta import relativedelta
from pprint import pprint
import numpy as np

# NBA Player Data Combination

In [2]:
#NBA API Key
from config import nba_key

In [3]:
#Player stats combination
player1 = 'data_files/player_stats1.csv'
player2 = 'data_files/player_stats2.csv'
player3 = 'data_files/player_stats3.csv'
player4 = 'data_files/player_stats4.csv'
player5 = 'data_files/player_stats5.csv'
player6 = 'data_files/player_stats6.csv'
player7 = 'data_files/player_stats7.csv'

In [4]:
player1DF= pd.read_csv(player1)
player2DF= pd.read_csv(player2)
player3DF= pd.read_csv(player3)
player4DF= pd.read_csv(player4)
player5DF= pd.read_csv(player5)
player6DF= pd.read_csv(player6)
player7DF= pd.read_csv(player7)

In [5]:
frames = [player1DF,player2DF,player3DF,player4DF,player5DF,player6DF,player7DF]

AllStats = pd.concat(frames)

#AllStats.head()

In [6]:
# AllStats.to_csv("data_files/NBA_AllStats.csv")

# Sports Reference

In [7]:
from sportsreference.nba.roster import Roster
from sportsreference.nba.roster import Player
from sportsreference.nba.teams import Teams

In [8]:
# # Function to get player info from Player class object.
# def get_player_df(player):
    
#     # helper function to get player age during each season.
#     def get_age(year, bd):
#         if year[0] == "Career":
#             return None
#         else:
#             year_dt = datetime(int(year[0][0:4]) + 1, 1, 1)
#             age_years = relativedelta(year_dt, bd).years + relativedelta(year_dt, bd).months/12
#             return age_years
        
#     # helper function to get year for each row and denote
#     # rows that contain career totals.
#     def get_year(ix):
#         if ix[0] == "Career":
#             return "Career"
#         elif ix[0] == "1999-00":
#             return "2000"
#         else:
#             return ix[0][0:2] + ix[0][-2:]
    
#     # get player df and add some extra info
#     player_df = player.dataframe
#     player_df['birth_date'] = player.birth_date
#     player_df['player_id'] = player.player_id
#     player_df['name'] = player.name
#     player_df['year'] = [get_year(ix) for ix in player_df.index]
#     player_df['id'] = [player_id + ' ' + year for player_id,
#                        year in zip(player_df['player_id'],
#                        player_df['year'])]
#     player_df['age'] = [get_age(year, bd) for year,
#                         bd in zip(player_df.index,
#                         player_df['birth_date'])]
#     player_df.set_index('id', drop = True, inplace = True)
    
#     return player_df

In [9]:
# # initialize a list of players that we have pulled data for
# players_collected = []
# season_df_init = 0
# career_df_init = 0
# season_df = 0
# career_df = 0
# # iterate through years.
# for year in range(2020, 1999, -1):
#     print('\n' + str(year))
        
#     # iterate through all teams in that year.
#     for team in Teams(year = str(year)).dataframes.index:
#         print('\n' + team + '\n')
        
#         # iterate through every player on a team roster.
#         for player_id in Roster(team, year = year,
#                          slim = True).players.keys():
            
#             # only pull player info if that player hasn't
#             # been pulled already.
#             if player_id not in players_collected:
                
#                 player = Player(player_id)
#                 player_info = get_player_df(player)
#                 player_seasons = player_info[
#                                  player_info['year'] != "Career"]
#                 player_career = player_info[
#                                 player_info['year'] == "Career"]
                
#                 # create season_df if not initialized
#                 if not season_df_init:
#                     season_df = player_seasons
#                     season_df_init = 1
                
#                 # else concatenate to season_df
#                 else:
#                     season_df = pd.concat([season_df,
#                                    player_seasons], axis = 0)
                    
#                 if not career_df_init:
#                     career_df = player_career
#                     career_df_init = 1
                
#                 # else concatenate to career_df
#                 else:
#                     career_df = pd.concat([career_df,
#                                    player_career], axis = 0)
                
#                 # add player to players_collected
#                 players_collected.append(player_id)
#                 print(player.name)

In [10]:
# season_df.to_csv('nba_player_stats_by_season.csv')
# career_df.to_csv('nba_player_stats_by_career.csv')

In [11]:
# season_df.head()

In [12]:
PlayerCSV = 'nba_player_stats_by_season.csv'
PlayerDF= pd.read_csv(PlayerCSV)

PlayerDF.head()

,id,and_ones,assist_percentage,assists,block_percentage,blocking_fouls,blocks,box_plus_minus,center_percentage,defensive_box_plus_minus,...,two_pointers_assisted_percentage,usage_percentage,value_over_replacement_player,weight,win_shares,win_shares_per_48_minutes,birth_date,name,year,age
0,klebima01 2018,NaN,6.4,51.0,3.5,NaN,47.0,-0.5,0.0,0.5,...,NaN,13.7,0.5,240.0,2.8,0.113,1992-01-29,Maxi Kleber,2018,25.916667
1,klebima01 2019,NaN,6.8,70.0,4.4,NaN,78.0,0.4,0.0,1.2,...,NaN,13.5,0.9,240.0,3.5,0.111,1992-01-29,Maxi Kleber,2019,26.916667
2,klebima01 2020,NaN,6.3,88.0,3.8,NaN,83.0,0.4,0.0,0.0,...,NaN,13.9,1.1,240.0,4.8,0.123,1992-01-29,Maxi Kleber,2020,27.916667
3,wrighde01 2016,NaN,22.5,31.0,1.1,NaN,3.0,0.9,0.0,-0.3,...,NaN,22.1,0.2,185.0,0.6,0.124,1992-04-26,Delon Wright,2016,23.666667
4,wrighde01 2017,NaN,18.2,57.0,2.1,NaN,11.0,2.0,0.0,2.1,...,NaN,16.6,0.5,185.0,1.1,0.117,1992-04-26,Delon Wright,2017,24.666667

In [13]:
PlayerDF[['PlayerID','Season']]=PlayerDF.id.str.split(expand=True)

PlayerDF.head()

,id,and_ones,assist_percentage,assists,block_percentage,blocking_fouls,blocks,box_plus_minus,center_percentage,defensive_box_plus_minus,...,value_over_replacement_player,weight,win_shares,win_shares_per_48_minutes,birth_date,name,year,age,PlayerID,Season
0,klebima01 2018,NaN,6.4,51.0,3.5,NaN,47.0,-0.5,0.0,0.5,...,0.5,240.0,2.8,0.113,1992-01-29,Maxi Kleber,2018,25.916667,klebima01,2018
1,klebima01 2019,NaN,6.8,70.0,4.4,NaN,78.0,0.4,0.0,1.2,...,0.9,240.0,3.5,0.111,1992-01-29,Maxi Kleber,2019,26.916667,klebima01,2019
2,klebima01 2020,NaN,6.3,88.0,3.8,NaN,83.0,0.4,0.0,0.0,...,1.1,240.0,4.8,0.123,1992-01-29,Maxi Kleber,2020,27.916667,klebima01,2020
3,wrighde01 2016,NaN,22.5,31.0,1.1,NaN,3.0,0.9,0.0,-0.3,...,0.2,185.0,0.6,0.124,1992-04-26,Delon Wright,2016,23.666667,wrighde01,2016
4,wrighde01 2017,NaN,18.2,57.0,2.1,NaN,11.0,2.0,0.0,2.1,...,0.5,185.0,1.1,0.117,1992-04-26,Delon Wright,2017,24.666667,wrighde01,2017

In [14]:
#Only have years we are reviewing

PlayerDF_Seasons = PlayerDF[PlayerDF['year']>2015]
PlayerDF_Seasons.head()

,id,and_ones,assist_percentage,assists,block_percentage,blocking_fouls,blocks,box_plus_minus,center_percentage,defensive_box_plus_minus,...,value_over_replacement_player,weight,win_shares,win_shares_per_48_minutes,birth_date,name,year,age,PlayerID,Season
0,klebima01 2018,NaN,6.4,51.0,3.5,NaN,47.0,-0.5,0.0,0.5,...,0.5,240.0,2.8,0.113,1992-01-29,Maxi Kleber,2018,25.916667,klebima01,2018
1,klebima01 2019,NaN,6.8,70.0,4.4,NaN,78.0,0.4,0.0,1.2,...,0.9,240.0,3.5,0.111,1992-01-29,Maxi Kleber,2019,26.916667,klebima01,2019
2,klebima01 2020,NaN,6.3,88.0,3.8,NaN,83.0,0.4,0.0,0.0,...,1.1,240.0,4.8,0.123,1992-01-29,Maxi Kleber,2020,27.916667,klebima01,2020
3,wrighde01 2016,NaN,22.5,31.0,1.1,NaN,3.0,0.9,0.0,-0.3,...,0.2,185.0,0.6,0.124,1992-04-26,Delon Wright,2016,23.666667,wrighde01,2016
4,wrighde01 2017,NaN,18.2,57.0,2.1,NaN,11.0,2.0,0.0,2.1,...,0.5,185.0,1.1,0.117,1992-04-26,Delon Wright,2017,24.666667,wrighde01,2017

In [15]:
#Reorganize column titles

PlayerData = PlayerDF_Seasons[['birth_date','name','year','age']]
PlayerData.head()

   birth_date          name  year        age
0  1992-01-29   Maxi Kleber  2018  25.916667
1  1992-01-29   Maxi Kleber  2019  26.916667
2  1992-01-29   Maxi Kleber  2020  27.916667
3  1992-04-26  Delon Wright  2016  23.666667
4  1992-04-26  Delon Wright  2017  24.666667

In [16]:
#Final Player Dataframe (organized)

PlayerData = PlayerData[['name','year','age','birth_date']]
PlayerData

                name  year        age  birth_date
0        Maxi Kleber  2018  25.916667  1992-01-29
1        Maxi Kleber  2019  26.916667  1992-01-29
2        Maxi Kleber  2020  27.916667  1992-01-29
3       Delon Wright  2016  23.666667  1992-04-26
4       Delon Wright  2017  24.666667  1992-04-26
...              ...   ...        ...         ...
6128  Carlos Delfino  2019  36.333333  1982-08-29
6477    Jeremy Pargo  2020  33.750000  1986-03-17
6812    Keith Benson  2017  28.333333  1988-08-13
6939     Yi Jianlian  2017  29.166667  1987-10-27
7089    D.J. Kennedy  2017  27.083333  1989-11-05

[2739 rows x 4 columns]

In [17]:
PlayerData.rename(columns={'name':'Player'}, inplace = True)

PlayerData

              Player  year        age  birth_date
0        Maxi Kleber  2018  25.916667  1992-01-29
1        Maxi Kleber  2019  26.916667  1992-01-29
2        Maxi Kleber  2020  27.916667  1992-01-29
3       Delon Wright  2016  23.666667  1992-04-26
4       Delon Wright  2017  24.666667  1992-04-26
...              ...   ...        ...         ...
6128  Carlos Delfino  2019  36.333333  1982-08-29
6477    Jeremy Pargo  2020  33.750000  1986-03-17
6812    Keith Benson  2017  28.333333  1988-08-13
6939     Yi Jianlian  2017  29.166667  1987-10-27
7089    D.J. Kennedy  2017  27.083333  1989-11-05

[2739 rows x 4 columns]

In [29]:
#We pulled top 50 players for most recent season, therefore we only need players playing in 2020
PlayerData2 = PlayerData[PlayerData['year']>2019]
PlayerData2

                   Player  year        age  birth_date
2             Maxi Kleber  2020  27.916667  1992-01-29
7            Delon Wright  2020  27.666667  1992-04-26
14       Tim Hardaway Jr.  2020  27.750000  1992-03-16
18    Dorian Finney-Smith  2020  26.583333  1993-05-04
21         Justin Jackson  2020  24.750000  1995-03-28
...                   ...   ...        ...         ...
3312        Dusty Hannahs  2020  26.250000  1993-09-02
3321     Chandler Parsons  2020  31.166667  1988-10-25
3805       Derrick Walton  2020  24.666667  1995-04-03
3847         Josh Magette  2020  30.083333  1989-11-28
6477         Jeremy Pargo  2020  33.750000  1986-03-17

[522 rows x 4 columns]

In [30]:
#Check to ensure all rows are unique
PlayerData2['Player'].nunique()

522

In [18]:
NBATop50 = pd.read_csv('data_files/NBATope50.csv')
NBATop50.head(1)

,PLAYER,PER,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,VA,EWA
0,"Giannis Antetokounmpo, MIL",31.94,63,30.4,0.613,16.9,11.0,37.2,7.7,34.8,22.1,584.9,19.5

In [19]:
NBATop50[['Player','Team']]=NBATop50.PLAYER.str.split(",",expand=True)

NBATop50.head(1)

,PLAYER,PER,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,VA,EWA,Player,Team
0,"Giannis Antetokounmpo, MIL",31.94,63,30.4,0.613,16.9,11.0,37.2,7.7,34.8,22.1,584.9,19.5,Giannis Antetokounmpo,MIL

In [39]:
#Combine all data to see if there are outliers. Those will be added manually

NBATop50_DF = pd.merge(NBATop50, PlayerData2, on='Player', how = "left")
#NBATop50_DF

In [38]:
NBATop50_Final = NBATop50_DF[['Player','Team','year','age', 'birth_date']]
NBATop50_Final

                   Player      Team    year        age  birth_date
0   Giannis Antetokounmpo       MIL  2020.0  25.000000  1994-12-06
1            James Harden       HOU  2020.0  30.333333  1989-08-26
2             Luka Doncic       DAL     NaN        NaN         NaN
3           Anthony Davis       LAL  2020.0  26.750000  1993-03-11
4          Damian Lillard       POR  2020.0  29.416667  1990-07-15
5           Kawhi Leonard       LAC  2020.0  28.500000  1991-06-29
6      Karl-Anthony Towns       MIN  2020.0  24.083333  1995-11-15
7            Kyrie Irving       BKN  2020.0  27.750000  1992-03-23
8             Joel Embiid       PHI  2020.0  25.750000  1994-03-16
9            LeBron James       LAL  2020.0  35.000000  1984-12-30
10       Hassan Whiteside       POR  2020.0  30.500000  1989-06-13
11           Nikola Jokic       DEN     NaN        NaN         NaN
12        Zion Williamson        NO  2020.0  19.416667  2000-07-06
13             Trae Young       ATL  2020.0  21.250000  1998-09-19
14           Jimmy Butler       MIA  2020.0  30.250000  1989-09-14
15           John Collins       ATL  2020.0  22.250000  1997-09-23
16      Mitchell Robinson        NY  2020.0  21.750000  1998-04-01
17       Montrezl Harrell       LAC  2020.0  25.916667  1994-01-26
18           Bradley Beal       WSH  2020.0  26.500000  1993-06-28
19         Christian Wood       DET  2020.0  24.250000  1995-09-27
20            Enes Kanter       BOS  2020.0  27.583333  1992-05-20
21      Jonas Valanciunas       MEM     NaN        NaN         NaN
22         Andre Drummond   CLE/DET  2020.0  26.333333  1993-08-10
23         Nikola Vucevic       ORL     NaN        NaN         NaN
24           Tony Bradley      UTAH  2020.0  21.916667  1998-01-08
25            Ivica Zubac       LAC  2020.0  22.750000  1997-03-18
26            Rudy Gobert      UTAH  2020.0  27.500000  1992-06-26
27             Chris Paul       OKC  2020.0  34.583333  1985-05-06
28          DeMar DeRozan        SA  2020.0  30.333333  1989-08-07
29        Khris Middleton       MIL  2020.0  28.333333  1991-08-12
30          Thomas Bryant       WSH  2020.0  22.416667  1997-07-31
31            Paul George       LAC  2020.0  29.583333  1990-05-02
32           Derrick Rose       DET  2020.0  31.166667  1988-10-04
33      Russell Westbrook       HOU  2020.0  31.083333  1988-11-12
34         Brandon Clarke       MEM  2020.0  23.250000  1996-09-19
35          Chris Boucher       TOR  2020.0  26.916667  1993-01-11
36       Domantas Sabonis       IND  2020.0  23.583333  1996-05-03
37           De'Aaron Fox       SAC  2020.0  22.000000  1997-12-20
38          Jarrett Allen       BKN  2020.0  21.666667  1998-04-21
39           Devin Booker       PHX  2020.0  23.166667  1996-10-30
40           Clint Capela       HOU  2020.0  25.583333  1994-05-18
41           Steven Adams       OKC  2020.0  26.416667  1993-07-20
42            Ben Simmons       PHI  2020.0  23.416667  1996-07-20
43           Nerlens Noel       OKC  2020.0  25.666667  1994-04-10
44           Jayson Tatum       BOS  2020.0  21.750000  1998-03-03
45            Bam Adebayo       MIA  2020.0  22.416667  1997-07-18
46     Kristaps Porzingis       DAL     NaN        NaN         NaN
47          Deandre Ayton       PHX  2020.0  21.416667  1998-07-23
48           Kemba Walker       BOS  2020.0  29.583333  1990-05-08
49         DeAndre Jordan       BKN  2020.0  31.416667  1988-07-21

In [42]:
#NBATop50_Final.to_csv("data_files/NBA_Player_Profile.csv")

In [ ]:
# AllStats['player_id'].nunique()

In [ ]:
# UniqueIDs = AllStats.drop_duplicates(subset="player_id", keep="first",inplace=False)
# UniqueIDs.count().head(1)

In [ ]:
# api_key = nba_key

In [ ]:
#Test API and review JSON
# url = f'https://api.sportradar.us/nba/trial/v7/en/players/0afbe608-940a-4d5d-a1f7-468718c67d91/profile.json?api_key={api_key}'
# response = request.get(url)

In [ ]:
# data = response.json()

# #pprint(data)

In [ ]:
# player_list = UniqueIDs["player_id"].tolist()
# playerID = []
# last_name = []
# first_name = []
# birthdate = []
# draft_pick = []
# height_inches = []
# jersey_number = []
# experience = []
# position = []

# for player_id in player_list:
#     url = f'https://api.sportradar.us/nba/trial/v7/en/players/{player_id}/profile.json?api_key={api_key}'
#     time.sleep(5)
#     r = request.get(url)
#     player_profiles = r.json()
        
# #     if 'jersey_number' in player_profiles['jersey_number']:
# #         jersey_number = player_profiles['jersey_number']
# #     else:
# #         jersey_number = 'none'
    
#     playerID.append(player_profiles['id'])
#     last_name.append(player_profiles['last_name'])
#     first_name.append(player_profiles['first_name'])
#     birthdate.append(player_profiles['birthdate'])
#     #draft_pick.append(player_profiles['draft']['pick'])
#     height_inches.append(player_profiles['height'])
#     #jersey_number.append(player_profiles['jersey_number'])
#     experience.append(player_profiles['experience'])
#     position.append(player_profiles['position'])

#     player_dict = {"Last_Name":last_name, "First_Name":first_name,
#                   "Birthday":birthdate, "Draft_Pick":draft_pick,
#                   "Height_inches":height_inches, "Jersey_Number":jersey_number,
#                   "Experience":experience, "Position":position,"PlayerID":playerID
#                  }
    
# playerDF = pd.DataFrame(player_dict)
# playerDF

In [ ]:
#playerDF.to_csv(['data_files/NBA_Player_Data'])

# WNBA

In [ ]:
# from config import wnba_key
# api_key2 = wnba_key

In [ ]:
# url = f'https://api.sportradar.us/wnba/trial/v7/en/players/26c1455a-af5d-46b0-b2c6-6c804033ccc7/profile.json?api_key={api_key2}'
# response = request.get(url)

In [ ]:
# data = response.json()
# #pprint(data)

In [ ]:
# player_list = ['0afbe608-940a-4d5d-a1f7-468718c67d91','5934134d-0d27-42ea-a554-4b0e3e85ce56']

# playerID = []
# last_name = []
# first_name = []
# birthdate = []
# draft_pick = []
# height_inches = []
# jersey_number = []
# experience = []
# position = []

# for player_id in player_list:
#     url = f'https://api.sportradar.us/nba/trial/v7/en/players/{player_id}/profile.json?api_key={api_key}'
#     time.sleep(5)
#     r = request.get(url)
#     player_profiles = r.json()
#     playerID.append(player_profiles['id'])
#     last_name.append(player_profiles['last_name'])
#     first_name.append(player_profiles['first_name'])
#     birthdate.append(player_profiles['birthdate'])
#     draft_pick.append(player_profiles['draft']['pick'])
#     height_inches.append(player_profiles['height'])
#     jersey_number.append(player_profiles['jersey_number'])
#     experience.append(player_profiles['experience'])
#     position.append(player_profiles['position'])

#     player_dict = {"Last_Name":last_name, "First_Name":first_name,
#                   "Birthday":birthdate, "Draft_Pick":draft_pick,
#                   "Height_inches":height_inches, "Jersey_Number":jersey_number,
#                   "Experience":experience, "Position":position,"PlayerID":playerID
#                  }
    
# WNBAplayerDF = pd.DataFrame(player_dict)
# WNBAplayerDF