In [1]:
import pandas as pd
from datetime import datetime
import requests as request
from pprint import pprint
import time
from dateutil.relativedelta import relativedelta
from pprint import pprint
import numpy as np

# NBA Player Data Combination

In [ ]:
#NBA API Key
from config import nba_key

In [ ]:
#Player stats combination
player1 = 'data_files/player_stats1.csv'
player2 = 'data_files/player_stats2.csv'
player3 = 'data_files/player_stats3.csv'
player4 = 'data_files/player_stats4.csv'
player5 = 'data_files/player_stats5.csv'
player6 = 'data_files/player_stats6.csv'
player7 = 'data_files/player_stats7.csv'

In [ ]:
player1DF= pd.read_csv(player1)
player2DF= pd.read_csv(player2)
player3DF= pd.read_csv(player3)
player4DF= pd.read_csv(player4)
player5DF= pd.read_csv(player5)
player6DF= pd.read_csv(player6)
player7DF= pd.read_csv(player7)

In [ ]:
frames = [player1DF,player2DF,player3DF,player4DF,player5DF,player6DF,player7DF]

AllStats = pd.concat(frames)

#AllStats.head()

In [ ]:
# AllStats.to_csv("data_files/NBA_AllStats.csv")

# NBA Player Data (Sports Reference)
- Ran out of Sports Radar API Pulls. To get player data we relied on the Sports Reference API
- Merged this info with the NBA Top 50 Players

In [ ]:
from sportsreference.nba.roster import Roster
from sportsreference.nba.roster import Player
from sportsreference.nba.teams import Teams

In [ ]:
### Already ran the package and pulled data to CSV. Hashed out so it does not run again and slow down the computer
## Function to get player info from Player class object.
# def get_player_df(player):
    
#     # helper function to get player age during each season.
#     def get_age(year, bd):
#         if year[0] == "Career":
#             return None
#         else:
#             year_dt = datetime(int(year[0][0:4]) + 1, 1, 1)
#             age_years = relativedelta(year_dt, bd).years + relativedelta(year_dt, bd).months/12
#             return age_years
        
#     # helper function to get year for each row and denote
#     # rows that contain career totals.
#     def get_year(ix):
#         if ix[0] == "Career":
#             return "Career"
#         elif ix[0] == "1999-00":
#             return "2000"
#         else:
#             return ix[0][0:2] + ix[0][-2:]
    
#     # get player df and add some extra info
#     player_df = player.dataframe
#     player_df['birth_date'] = player.birth_date
#     player_df['player_id'] = player.player_id
#     player_df['name'] = player.name
#     player_df['year'] = [get_year(ix) for ix in player_df.index]
#     player_df['id'] = [player_id + ' ' + year for player_id,
#                        year in zip(player_df['player_id'],
#                        player_df['year'])]
#     player_df['age'] = [get_age(year, bd) for year,
#                         bd in zip(player_df.index,
#                         player_df['birth_date'])]
#     player_df.set_index('id', drop = True, inplace = True)
    
#     return player_df

In [ ]:
### Already ran the package and pulled data to CSV. Hashed out so it does not run again and slow down the computer
## initialize a list of players that we have pulled data for
# players_collected = []
# season_df_init = 0
# career_df_init = 0
# season_df = 0
# career_df = 0
# # iterate through years.
# for year in range(2020, 1999, -1):
#     print('\n' + str(year))
        
#     # iterate through all teams in that year.
#     for team in Teams(year = str(year)).dataframes.index:
#         print('\n' + team + '\n')
        
#         # iterate through every player on a team roster.
#         for player_id in Roster(team, year = year,
#                          slim = True).players.keys():
            
#             # only pull player info if that player hasn't
#             # been pulled already.
#             if player_id not in players_collected:
                
#                 player = Player(player_id)
#                 player_info = get_player_df(player)
#                 player_seasons = player_info[
#                                  player_info['year'] != "Career"]
#                 player_career = player_info[
#                                 player_info['year'] == "Career"]
                
#                 # create season_df if not initialized
#                 if not season_df_init:
#                     season_df = player_seasons
#                     season_df_init = 1
                
#                 # else concatenate to season_df
#                 else:
#                     season_df = pd.concat([season_df,
#                                    player_seasons], axis = 0)
                    
#                 if not career_df_init:
#                     career_df = player_career
#                     career_df_init = 1
                
#                 # else concatenate to career_df
#                 else:
#                     career_df = pd.concat([career_df,
#                                    player_career], axis = 0)
                
#                 # add player to players_collected
#                 players_collected.append(player_id)
#                 print(player.name)

In [ ]:
# season_df.to_csv('nba_player_stats_by_season.csv')
# career_df.to_csv('nba_player_stats_by_career.csv')

In [ ]:
# season_df.head()

In [ ]:
PlayerCSV = 'data_files/nba_player_stats_by_season.csv'
PlayerDF= pd.read_csv(PlayerCSV)

PlayerDF.head()

In [ ]:
PlayerDF[['PlayerID','Season']]=PlayerDF.id.str.split(expand=True)

PlayerDF.head()

In [ ]:
#Only have years we are reviewing

PlayerDF_Seasons = PlayerDF[PlayerDF['year']>2015]
PlayerDF_Seasons.head()

In [ ]:
#Reorganize column titles

PlayerData = PlayerDF_Seasons[['birth_date','name','year','age']]
PlayerData.head()

In [ ]:
#Final Player Dataframe (organized)

PlayerData = PlayerData[['name','year','age','birth_date']]
PlayerData

In [ ]:
PlayerData.rename(columns={'name':'Player'}, inplace = True)

PlayerData

In [ ]:
#We pulled top 50 players for most recent season, therefore we only need players playing in 2020
PlayerData2 = PlayerData[PlayerData['year']>2019]
PlayerData2

In [ ]:
#Check to ensure all rows are unique
PlayerData2['Player'].nunique()

In [4]:
NBATop50 = pd.read_csv('data_files/NBATope50.csv')
NBATop50.head(1)

,PLAYER,PER,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,VA,EWA
0,"Giannis Antetokounmpo, MIL",31.94,63,30.4,0.613,16.9,11.0,37.2,7.7,34.8,22.1,584.9,19.5

In [5]:
NBATop50[['Player','Team']]=NBATop50.PLAYER.str.split(",",expand=True)

NBATop50.head(1)

,PLAYER,PER,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,VA,EWA,Player,Team
0,"Giannis Antetokounmpo, MIL",31.94,63,30.4,0.613,16.9,11.0,37.2,7.7,34.8,22.1,584.9,19.5,Giannis Antetokounmpo,MIL

In [ ]:
#Combine all data to see if there are outliers. Those will be added manually

NBATop50_DF = pd.merge(NBATop50, PlayerData2, on='Player', how = "left")
#NBATop50_DF

In [ ]:
NBATop50_Final = NBATop50_DF[['Player','Team','year','age', 'birth_date']]
#NBATop50_Final

In [ ]:
#NBATop50_Final.to_csv("data_files/NBA_Player_Profile.csv")

# WNBA - Top 50 Player Profile

- API Pull of Player Profile data from Sports Radar
- Merge Player Profile info to the Top 50 WNBA player data

In [ ]:
WNBAPlayers = pd.read_csv('data_files/FinalDataFiles/WBNAfullplayerstatslist.csv')
WNBAPlayers.head(1)

In [ ]:
WNBAPlayers['player_id'].nunique()

In [ ]:
UniqueIDs = WNBAPlayers.drop_duplicates(subset="player_id", keep="first",inplace=False)
UniqueIDs.count().head()

In [ ]:
from config import wnba_key
api_key2 ='wnba_key

In [ ]:
url = f'https://api.sportradar.us/wnba/trial/v7/en/players/adfc445c-06c0-444a-8856-32cf13a89ea2/profile.json?api_key={api_key2}'
response = request.get(url)

In [ ]:
data = response.json()

#pprint(data)

In [ ]:
print(data['draft']['pick'])

In [ ]:
#Ran API pull and put into CSV since we only were given 1000 pulls from sports radar

# player_list = UniqueIDs["player_id"].tolist()
# player_ID = []
# last_name = []
# first_name = []
# birthdate = []
# draft_pick = []
# height_inches = []
# jersey_number = []
# experience = []
# position = []

# for player_id in player_list:
#     try:
#         url = f'https://api.sportradar.us/wnba/trial/v7/en/players/{player_id}/profile.json?api_key={api_key2}'
#         time.sleep(1)
#         r = request.get(url)
#         player_profiles = r.json()
#         DPick = player_profiles ['draft']['pick']

#         #player_ID.append(player_profiles['id'])
#         if 'id' in player_profiles:
#             player_ID.append(player_profiles['id'])
#         else:
#             player_ID.appened('n/a')

#         #last_name.append(player_profiles['last_name'])
#         if 'last_name' in player_profiles:
#             last_name.append(player_profiles['last_name'])
#         else:
#             last_name.appened('n/a')

#         #first_name.append(player_profiles['first_name'])
#         if 'first_name' in player_profiles:
#             first_name.append(player_profiles['first_name'])
#         else:
#             first_name.appened('n/a')

# #         #birthdate.append(player_profiles['birthdate'])
# #         if 'birthdate' in player_profiles:
# #             birthdate.append(player_profiles['birthdate'])
# #         else:
# #             birthdate.appened('n/a')

#         #draft_pick.append(player_profiles['draft']['pick'])
#         if 'pick' in DPick:
#             draft_pick.append(DPick['pick'])
#         else:
#             draft_pick.append('n/a')

#         #height_inches.append(player_profiles['height'])
#         if 'height' in player_profiles:
#             height_inches.append(player_profiles['height'])
#         else:
#             height_inches.appened('n/a')   

#         #jersey_number.append(player_profiles['jersey_number'])
#         if 'jersey_number' in player_profiles:
#             jersey_number.append(player_profiles['jersey_number'])
#         else:
#             jersey_number.append('n/a')   

#         #experience.append(player_profiles['experience'])
#         if 'experience' in player_profiles:
#             experience.append(player_profiles['experience'])
#         else:
#             experience.append('n/a')    

#         #position.append(player_profiles['position'])
#         if 'position' in player_profiles:
#             position.append(player_profiles['position'])
#         else:
#             position.append('n/a')   
    
#     except:
#         print(player_id)

#     player_dict = {"Player_ID":player_ID, "Last_Name":last_name, "First_Name":first_name,
#                    "Draft_Pick":draft_pick,"Height_inches":height_inches,
#                    "Jersey_Number":jersey_number,"Experience":experience, "Position":position
#                  }
    
# WNBAplayerDF = pd.DataFrame(player_dict)
WNBAplayerDF

In [42]:
WNBAplayerDF.to_csv("data_files/WNBA_Player_Profile.csv")

NameError: name 'WNBAplayerDF' is not defined

In [41]:
#Reorg Columns

WNBAplayerDF = WNBAplayerDF[['First_Name','Last_Name','Height_inches','Jersey_Number','Experience','Position']]
WNBAplayerDF.head(1)

NameError: name 'WNBAplayerDF' is not defined

In [ ]:
WNBAplayerDF['Player'] = WNBAplayerDF['First_Name'].str.cat(WNBAplayerDF['Last_Name'],sep=" ")
#WNBAplayerDF

In [ ]:
WNBAplayerDF = WNBAplayerDF[['Player','First_Name','Last_Name','Height_inches','Jersey_Number','Experience','Position']]
WNBAplayerDF.head(1)

In [43]:
#Read in to 50 WNBA players

WNBATop50 = pd.read_csv('data_files/Top50WNBA.csv')
WNBATop50.head(1)

,PLAYER,EFF,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,BREANNA STEWART,23.4,20,30.4,19.7,6.7,14.8,45.1,1.8,4.8,...,4.7,5.2,89.4,1.0,7.3,8.3,3.6,1.7,1.3,2.5

In [44]:
WNBATop50['PLAYER'] = WNBATop50['PLAYER'].str.title()

In [45]:
WNBATop50 = WNBATop50.rename(columns = {'PLAYER': 'Player'}, inplace = False)

WNBATop50.head(1)

,Player,EFF,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,Breanna Stewart,23.4,20,30.4,19.7,6.7,14.8,45.1,1.8,4.8,...,4.7,5.2,89.4,1.0,7.3,8.3,3.6,1.7,1.3,2.5

In [46]:
WNBATop50_DF = pd.merge(WNBATop50, WNBAplayerDF, on='Player', how = "left")
WNBATop50_DF.head(1)

NameError: name 'WNBAplayerDF' is not defined

In [47]:
WNBATop50_DF = WNBATop50_DF[['Player','Height_inches','Position','Jersey_Number','Experience']]
WNBATop50_DF.head(1)

NameError: name 'WNBATop50_DF' is not defined

In [48]:
#WNBATop50_DF.to_csv("data_files/FinalDataFiles/WNBA_Player_Profile.csv")

# Player Stats for NBA Top 50 ONLY

In [52]:
NBA_AllStats = pd.read_csv('data_files/FinalDataFiles/NBA_AllStats.csv')
NBA_AllStats.head(1)

,Unnamed: 0,Unnamed: 0.1,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,...,Turnovers,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date
0,0,0,LeBron,James,0afbe608-940a-4d5d-a1f7-468718c67d91,F,19,50.0,81.818,0.0,...,4,Cavaliers,1,1,117,32:23,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00

In [10]:
NBA_AllStats['Player'] = NBA_AllStats['First_Name'].str.cat(NBA_AllStats['Last_Name'],sep=" ")
NBA_AllStats.head(1)

,Unnamed: 0,Unnamed: 0.1,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,...,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date,Player
0,0,0,LeBron,James,0afbe608-940a-4d5d-a1f7-468718c67d91,F,19,50.0,81.818,0.0,...,Cavaliers,1,1,117,32:23,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00,LeBron James

In [35]:
NBATop50.head(1)

,PLAYER,PER,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,VA,EWA,Player,Team
0,"Giannis Antetokounmpo, MIL",31.94,63,30.4,0.613,16.9,11.0,37.2,7.7,34.8,22.1,584.9,19.5,Giannis Antetokounmpo,MIL

In [7]:
NBATop50_List = NBATop50['Player'].tolist()

In [16]:
NBATop50_AllStats = NBA_AllStats[NBA_AllStats.Player.isin(NBATop50_List)]

In [17]:
#NBATop50_AllStats.to_csv("data_files/FinalDataFiles/NBATop50_AllStats.csv")

## Post Season NBA Top 50 Player Game Stats

In [31]:
NBA_AllStats_PostSzn = pd.read_csv('data_files/player_stats_2019_pst.csv')
#NBA_AllStats_PostSzn.head()

In [32]:
NBA_AllStats_PostSzn['Player'] = NBA_AllStats_PostSzn['First_Name'].str.cat(NBA_AllStats_PostSzn['Last_Name'],sep=" ")
NBA_AllStats_PostSzn.head(1)

,Unnamed: 0,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,...,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date,Player
0,0,Torrey,Craig,c14eba17-879a-461e-9413-bf71a378de6e,G,11,0.0,50.0,60.0,0,...,Nuggets,1,1,135,21:25,Covid,1200,6541eb3b-eb31-4f6f-a662-94e9d2640c99,2020-08-17T17:30:00+00:00,Torrey Craig

In [33]:
NBATop50_AllStats_PostSeason = NBA_AllStats_PostSzn[NBA_AllStats_PostSzn.Player.isin(NBATop50_List)]

NBATop50_AllStats_PostSeason.head(1)

,Unnamed: 0,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,...,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date,Player
12,12,Nikola,Jokic,f2625432-3903-4f90-9b0b-2e4f63856bb0,C,29,100.0,50.0,57.1,3,...,Nuggets,1,1,135,42:10,Covid,1200,6541eb3b-eb31-4f6f-a662-94e9d2640c99,2020-08-17T17:30:00+00:00,Nikola Jokic

In [34]:
NBATop50_AllStats_PostSeason.to_csv("data_files/FinalDataFiles/NBATop50_AllStats_PostSeasn.csv")

# Player Stats for WNBA Top 50 ONLY

In [56]:
WNBA_AllStats = pd.read_csv('data_files/FinalDataFiles/WBNAfullplayerstatslist.csv')
WNBA_AllStats.head(1)

,Unnamed: 0,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,...,Turnovers,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date
0,0,Camille,Little,9951fcfb-8d31-44e5-ba85-c41ed724763d,F,9,0.0,0.375,20.0,1,...,2,Sun,1,0,68,29:00:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00

In [59]:
WNBA_AllStats['Player'] = WNBA_AllStats['First_Name'].str.cat(WNBA_AllStats['Last_Name'],sep=" ")
WNBA_AllStats.head(1)

,Unnamed: 0,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,...,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date,Player
0,0,Camille,Little,9951fcfb-8d31-44e5-ba85-c41ed724763d,F,9,0.0,0.375,20.0,1,...,Sun,1,0,68,29:00:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00,Camille Little

In [60]:
WNBATop50.head(1)

,Player,EFF,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,Breanna Stewart,23.4,20,30.4,19.7,6.7,14.8,45.1,1.8,4.8,...,4.7,5.2,89.4,1.0,7.3,8.3,3.6,1.7,1.3,2.5

In [61]:
WNBATop50_List = WNBATop50['Player'].tolist()

In [65]:
WNBATop50_AllStats = WNBA_AllStats[WNBA_AllStats.Player.isin(WNBATop50_List)]

WNBATop50_AllStats.head()

,Unnamed: 0,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,...,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date,Player
1,1,Jasmine,Thomas,0ac8d024-ec11-4809-83f4-6277c1252617,G,6,100.0,0.25,0.0,4,...,Sun,1,0,68,30:00:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00,Jasmine Thomas
4,4,Elizabeth,Williams,c8672dba-0deb-4cf1-8304-82365865edaa,C-F,5,75.0,0.20,0.0,1,...,Sun,1,0,68,10:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00,Elizabeth Williams
11,11,Chelsea,Gray,ca6b54e3-612d-4523-9582-b88e675f58de,G,4,0.0,0.50,0.0,1,...,Sun,1,0,68,9:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00,Chelsea Gray
12,12,Alyssa,Thomas,87a32879-a19b-4603-86ce-1c8b0e4484ad,F,13,83.3,0.50,0.0,3,...,Sun,1,0,68,32:00:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00,Alyssa Thomas
24,24,Emma,Meesseman,7ae3b3fc-2bf3-4600-abd6-c5511f140246,C,8,0.0,0.40,0.0,2,...,Mystics,0,1,73,31:00:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00,Emma Meesseman

In [66]:
#WNBATop50_AllStats.to_csv("data_files/FinalDataFiles/WNBATop50_AllStats_AllSeasons.csv")