In [1]:
import pandas as pd
from datetime import datetime
import requests as request
from pprint import pprint
import time
from dateutil.relativedelta import relativedelta
from pprint import pprint
import numpy as np

# NBA Player Data Combination

In [ ]:
#NBA API Key
from config import nba_key

In [ ]:
#Player stats combination
player1 = 'data_files/player_stats1.csv'
player2 = 'data_files/player_stats2.csv'
player3 = 'data_files/player_stats3.csv'
player4 = 'data_files/player_stats4.csv'
player5 = 'data_files/player_stats5.csv'
player6 = 'data_files/player_stats6.csv'
player7 = 'data_files/player_stats7.csv'

In [ ]:
player1DF= pd.read_csv(player1)
player2DF= pd.read_csv(player2)
player3DF= pd.read_csv(player3)
player4DF= pd.read_csv(player4)
player5DF= pd.read_csv(player5)
player6DF= pd.read_csv(player6)
player7DF= pd.read_csv(player7)

In [ ]:
frames = [player1DF,player2DF,player3DF,player4DF,player5DF,player6DF,player7DF]

AllStats = pd.concat(frames)

#AllStats.head()

In [ ]:
# AllStats.to_csv("data_files/NBA_AllStats.csv")

# Sports Reference

In [ ]:
from sportsreference.nba.roster import Roster
from sportsreference.nba.roster import Player
from sportsreference.nba.teams import Teams

In [ ]:
### Already ran the package and pulled data to CSV. Hashed out so it does not run again and slow down the computer
## Function to get player info from Player class object.
# def get_player_df(player):
    
#     # helper function to get player age during each season.
#     def get_age(year, bd):
#         if year[0] == "Career":
#             return None
#         else:
#             year_dt = datetime(int(year[0][0:4]) + 1, 1, 1)
#             age_years = relativedelta(year_dt, bd).years + relativedelta(year_dt, bd).months/12
#             return age_years
        
#     # helper function to get year for each row and denote
#     # rows that contain career totals.
#     def get_year(ix):
#         if ix[0] == "Career":
#             return "Career"
#         elif ix[0] == "1999-00":
#             return "2000"
#         else:
#             return ix[0][0:2] + ix[0][-2:]
    
#     # get player df and add some extra info
#     player_df = player.dataframe
#     player_df['birth_date'] = player.birth_date
#     player_df['player_id'] = player.player_id
#     player_df['name'] = player.name
#     player_df['year'] = [get_year(ix) for ix in player_df.index]
#     player_df['id'] = [player_id + ' ' + year for player_id,
#                        year in zip(player_df['player_id'],
#                        player_df['year'])]
#     player_df['age'] = [get_age(year, bd) for year,
#                         bd in zip(player_df.index,
#                         player_df['birth_date'])]
#     player_df.set_index('id', drop = True, inplace = True)
    
#     return player_df

In [ ]:
### Already ran the package and pulled data to CSV. Hashed out so it does not run again and slow down the computer
## initialize a list of players that we have pulled data for
# players_collected = []
# season_df_init = 0
# career_df_init = 0
# season_df = 0
# career_df = 0
# # iterate through years.
# for year in range(2020, 1999, -1):
#     print('\n' + str(year))
        
#     # iterate through all teams in that year.
#     for team in Teams(year = str(year)).dataframes.index:
#         print('\n' + team + '\n')
        
#         # iterate through every player on a team roster.
#         for player_id in Roster(team, year = year,
#                          slim = True).players.keys():
            
#             # only pull player info if that player hasn't
#             # been pulled already.
#             if player_id not in players_collected:
                
#                 player = Player(player_id)
#                 player_info = get_player_df(player)
#                 player_seasons = player_info[
#                                  player_info['year'] != "Career"]
#                 player_career = player_info[
#                                 player_info['year'] == "Career"]
                
#                 # create season_df if not initialized
#                 if not season_df_init:
#                     season_df = player_seasons
#                     season_df_init = 1
                
#                 # else concatenate to season_df
#                 else:
#                     season_df = pd.concat([season_df,
#                                    player_seasons], axis = 0)
                    
#                 if not career_df_init:
#                     career_df = player_career
#                     career_df_init = 1
                
#                 # else concatenate to career_df
#                 else:
#                     career_df = pd.concat([career_df,
#                                    player_career], axis = 0)
                
#                 # add player to players_collected
#                 players_collected.append(player_id)
#                 print(player.name)

In [ ]:
# season_df.to_csv('nba_player_stats_by_season.csv')
# career_df.to_csv('nba_player_stats_by_career.csv')

In [ ]:
# season_df.head()

In [ ]:
PlayerCSV = 'nba_player_stats_by_season.csv'
PlayerDF= pd.read_csv(PlayerCSV)

PlayerDF.head()

In [ ]:
PlayerDF[['PlayerID','Season']]=PlayerDF.id.str.split(expand=True)

PlayerDF.head()

In [ ]:
#Only have years we are reviewing

PlayerDF_Seasons = PlayerDF[PlayerDF['year']>2015]
PlayerDF_Seasons.head()

In [ ]:
#Reorganize column titles

PlayerData = PlayerDF_Seasons[['birth_date','name','year','age']]
PlayerData.head()

In [ ]:
#Final Player Dataframe (organized)

PlayerData = PlayerData[['name','year','age','birth_date']]
PlayerData

In [ ]:
PlayerData.rename(columns={'name':'Player'}, inplace = True)

PlayerData

In [ ]:
#We pulled top 50 players for most recent season, therefore we only need players playing in 2020
PlayerData2 = PlayerData[PlayerData['year']>2019]
PlayerData2

In [ ]:
#Check to ensure all rows are unique
PlayerData2['Player'].nunique()

In [ ]:
NBATop50 = pd.read_csv('data_files/NBATope50.csv')
NBATop50.head(1)

In [ ]:
NBATop50[['Player','Team']]=NBATop50.PLAYER.str.split(",",expand=True)

NBATop50.head(1)

In [ ]:
#Combine all data to see if there are outliers. Those will be added manually

NBATop50_DF = pd.merge(NBATop50, PlayerData2, on='Player', how = "left")
#NBATop50_DF

In [ ]:
NBATop50_Final = NBATop50_DF[['Player','Team','year','age', 'birth_date']]
NBATop50_Final

In [ ]:
#NBATop50_Final.to_csv("data_files/NBA_Player_Profile.csv")

# WNBA

In [2]:
WNBAPlayers = pd.read_csv('data_files/FinalDataFiles/WBNAfullplayerstatslist.csv')
WNBAPlayers.head(1)

,Unnamed: 0,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,Assists,...,Turnovers,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date
0,0,Camille,Little,9951fcfb-8d31-44e5-ba85-c41ed724763d,F,9,0.0,0.375,20.0,1,...,2,Sun,1,0,68,29:00:00,5846,9518,e83ca6b1-1257-47d2-9153-ed2c72ad85ab,2015-06-05T23:00:00+00:00

In [3]:
WNBAPlayers['player_id'].nunique()

305

In [4]:
UniqueIDs = WNBAPlayers.drop_duplicates(subset="player_id", keep="first",inplace=False)
UniqueIDs.count().head()

Unnamed: 0    305
First_Name    305
Last_Name     305
player_id     305
Position      305
dtype: int64

In [5]:
from config import wnba_key
api_key2 ='wnba_key

In [6]:
url = f'https://api.sportradar.us/wnba/trial/v7/en/players/adfc445c-06c0-444a-8856-32cf13a89ea2/profile.json?api_key={api_key2}'
response = request.get(url)

In [23]:
data = response.json()

#pprint(data)

In [17]:
print(data['draft']['pick'])

7

In [30]:
#Ran API pull and put into CSV since we only were given 1000 pulls from sports radar

# player_list = UniqueIDs["player_id"].tolist()
# player_ID = []
# last_name = []
# first_name = []
# birthdate = []
# draft_pick = []
# height_inches = []
# jersey_number = []
# experience = []
# position = []

# for player_id in player_list:
#     try:
#         url = f'https://api.sportradar.us/wnba/trial/v7/en/players/{player_id}/profile.json?api_key={api_key2}'
#         time.sleep(1)
#         r = request.get(url)
#         player_profiles = r.json()
#         DPick = player_profiles ['draft']['pick']

#         #player_ID.append(player_profiles['id'])
#         if 'id' in player_profiles:
#             player_ID.append(player_profiles['id'])
#         else:
#             player_ID.appened('n/a')

#         #last_name.append(player_profiles['last_name'])
#         if 'last_name' in player_profiles:
#             last_name.append(player_profiles['last_name'])
#         else:
#             last_name.appened('n/a')

#         #first_name.append(player_profiles['first_name'])
#         if 'first_name' in player_profiles:
#             first_name.append(player_profiles['first_name'])
#         else:
#             first_name.appened('n/a')

# #         #birthdate.append(player_profiles['birthdate'])
# #         if 'birthdate' in player_profiles:
# #             birthdate.append(player_profiles['birthdate'])
# #         else:
# #             birthdate.appened('n/a')

#         #draft_pick.append(player_profiles['draft']['pick'])
#         if 'pick' in DPick:
#             draft_pick.append(DPick['pick'])
#         else:
#             draft_pick.append('n/a')

#         #height_inches.append(player_profiles['height'])
#         if 'height' in player_profiles:
#             height_inches.append(player_profiles['height'])
#         else:
#             height_inches.appened('n/a')   

#         #jersey_number.append(player_profiles['jersey_number'])
#         if 'jersey_number' in player_profiles:
#             jersey_number.append(player_profiles['jersey_number'])
#         else:
#             jersey_number.append('n/a')   

#         #experience.append(player_profiles['experience'])
#         if 'experience' in player_profiles:
#             experience.append(player_profiles['experience'])
#         else:
#             experience.append('n/a')    

#         #position.append(player_profiles['position'])
#         if 'position' in player_profiles:
#             position.append(player_profiles['position'])
#         else:
#             position.append('n/a')   
    
#     except:
#         print(player_id)

#     player_dict = {"Player_ID":player_ID, "Last_Name":last_name, "First_Name":first_name,
#                    "Draft_Pick":draft_pick,"Height_inches":height_inches,
#                    "Jersey_Number":jersey_number,"Experience":experience, "Position":position
#                  }
    
# WNBAplayerDF = pd.DataFrame(player_dict)
WNBAplayerDF

,Player_ID,Last_Name,First_Name,Draft_Pick,Height_inches,Jersey_Number,Experience,Position
0,9951fcfb-8d31-44e5-ba85-c41ed724763d,Little,Camille,n/a,74,n/a,12,F
1,0ac8d024-ec11-4809-83f4-6277c1252617,Thomas,Jasmine,n/a,69,5,9,G
2,adfc445c-06c0-444a-8856-32cf13a89ea2,Pedersen,Kayla,n/a,76,n/a,6,F
3,eedb8366-1bff-490e-9dea-5316bbe14559,Hightower,Allison,n/a,70,n/a,6,G
4,c8672dba-0deb-4cf1-8304-82365865edaa,Williams,Elizabeth,n/a,75,1,4,C-F
...,...,...,...,...,...,...,...,...
248,3e0fbd07-1dc0-4e17-9aa7-dca6ed1d8927,Walker,Ashley,n/a,73,n/a,3,F-C
249,782a5034-334b-48e8-a7a8-931296f40c06,Peddy,Shey,n/a,67,5,1,G
250,8c94ae8d-4431-4e6b-98c6-dcd812ba76c8,Gustafson,Megan,n/a,75,10,1,C
251,43135c04-f4c8-490d-ad59-0eb2e9f2f6cf,Hiedeman,Natisha,n/a,68,2,1,G
252,933500ef-253d-48be-8fd1-35dc5df7d07e,Bell,Kenisha,n/a,70,n/a,0,G

In [25]:
WNBAplayerDF.to_csv("data_files/WNBA_Player_Profile.csv")

In [35]:
#Reorg Columns

WNBAplayerDF = WNBAplayerDF[['First_Name','Last_Name','Height_inches','Jersey_Number','Experience','Position']]
WNBAplayerDF

    First_Name  Last_Name  Height_inches Jersey_Number Experience Position
0      Camille     Little             74           n/a         12        F
1      Jasmine     Thomas             69             5          9        G
2        Kayla   Pedersen             76           n/a          6        F
3      Allison  Hightower             70           n/a          6        G
4    Elizabeth   Williams             75             1          4      C-F
..         ...        ...            ...           ...        ...      ...
248     Ashley     Walker             73           n/a          3      F-C
249       Shey      Peddy             67             5          1        G
250      Megan  Gustafson             75            10          1        C
251    Natisha   Hiedeman             68             2          1        G
252    Kenisha       Bell             70           n/a          0        G

[253 rows x 6 columns]

In [50]:
WNBAplayerDF['Player'] = WNBAplayerDF['First_Name'].str.cat(WNBAplayerDF['Last_Name'],sep=" ")
#WNBAplayerDF

In [51]:
WNBAplayerDF = WNBAplayerDF[['Player','First_Name','Last_Name','Height_inches','Jersey_Number','Experience','Position']]
WNBAplayerDF.head(1)

,Player,First_Name,Last_Name,Height_inches,Jersey_Number,Experience,Position
0,Camille Little,Camille,Little,74,n/a,12,F

In [38]:
#Read in to 50 WNBA players

WNBATop50 = pd.read_csv('data_files/Top50WNBA.csv')
WNBATop50.head(1)

,PLAYER,EFF,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,BREANNA STEWART,23.4,20,30.4,19.7,6.7,14.8,45.1,1.8,4.8,...,4.7,5.2,89.4,1.0,7.3,8.3,3.6,1.7,1.3,2.5

In [55]:
WNBATop50['PLAYER'] = WNBATop50['PLAYER'].str.title()

In [60]:
WNBATop50 = WNBATop50.rename(columns = {'PLAYER': 'Player'}, inplace = False)

WNBATop50.head(1)

,Player,EFF,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV
0,Breanna Stewart,23.4,20,30.4,19.7,6.7,14.8,45.1,1.8,4.8,...,4.7,5.2,89.4,1.0,7.3,8.3,3.6,1.7,1.3,2.5

In [62]:
WNBATop50_DF = pd.merge(WNBATop50, WNBAplayerDF, on='Player', how = "left")
WNBATop50_DF.head(1)

,Player,EFF,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,...,AST,STL,BLK,TOV,First_Name,Last_Name,Height_inches,Jersey_Number,Experience,Position
0,Breanna Stewart,23.4,20,30.4,19.7,6.7,14.8,45.1,1.8,4.8,...,3.6,1.7,1.3,2.5,Breanna,Stewart,76.0,30,3,F

In [65]:
WNBATop50_DF = WNBATop50_DF[['Player','Height_inches','Position','Jersey_Number','Experience']]
WNBATop50_DF

                  Player  Height_inches Position Jersey_Number Experience
0        Breanna Stewart           76.0        F            30          3
1            A'Ja Wilson            NaN      NaN           NaN        NaN
2       Napheesa Collier           73.0        F            24          1
3         Candace Parker           76.0      F-C             3         12
4          Alyssa Thomas           74.0        F            25          6
5     Myisha Hines-Allen           73.0        F             2          2
6   Courtney Vandersloot           68.0        G            22          9
7         Dewanna Bonner            NaN      NaN           NaN        NaN
8          Diana Taurasi           72.0        G             3         15
9          Dearica Hamby           75.0        F             5          5
10        Betnijah Laney           72.0      G-F            44          4
11  Skylar Diggins-Smith           69.0        G             4          6
12      Angel Mccoughtry            NaN      NaN           NaN        NaN
13      Arike Ogunbowale           68.0        G            24          1
14       Cheyenne Parker           76.0        F            32          5
15        Emma Meesseman           76.0        F            33          6
16         Satou Sabally            NaN      NaN           NaN        NaN
17        Nneka Ogwumike           74.0        F            30          8
18        Damiris Dantas           75.0        F            12          5
19          Alysha Clark           71.0        F            32          8
20          Chelsea Gray           71.0        G            12          5
21         Brionna Jones           75.0        F            42          3
22        Kahleah Copper           73.0      G-F             2          4
23        Julie Allemand            NaN      NaN           NaN        NaN
24        Candice Dupree           74.0        F             4         14
25     Courtney Williams           68.0        G            10          4
26        Natasha Howard           74.0        F             6          6
27           Jewell Loyd           70.0        G            24          5
28        Teaira Mccowan            NaN      NaN           NaN        NaN
29       Chennedy Carter            NaN      NaN           NaN        NaN
30          Ariel Atkins           68.0        G             7          2
31   Crystal Dangerfield            NaN      NaN           NaN        NaN
32    Elizabeth Williams           75.0      C-F             1          4
33          Allisha Gray           72.0        G            15          3
34       Kelsey Mitchell           68.0        G             0          2
35      Monique Billings           76.0        F            25          2
36         Allie Quigley           70.0        G            14         11
37        Amanda Zahui B           77.0        C            17          5
38          Jackie Young           72.0        G             0          1
39      Leilani Mitchell           65.0        G             5         11
40         Kayla Mcbride            NaN      NaN           NaN        NaN
41         Marina Mabrey           71.0        G             5          1
42        Brittney Sykes           69.0        G            15          3
43     Layshia Clarendon           69.0        G             7          7
44         Jazmine Jones            NaN      NaN           NaN        NaN
45      Tiffany Mitchell           69.0        G            25          4
46       Riquna Williams           67.0        G             2          7
47        Jasmine Thomas           69.0        G             5          9
48        Tianna Hawkins           75.0        F            21          6
49             Kia Nurse           72.0        G             5          2

In [66]:
WNBATop50_DF.to_csv("data_files/FinalDataFiles/WNBA_Player_Profile.csv")