In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
# from wordcloud import WordCloud
import seaborn as sns
import bar_chart_race as bcr
import datetime as dt

In [2]:
nba_top50 = pd.read_csv("../data_files/fullplayerstatslist.csv")
nba_top50.head(10)

,Unnamed: 0,Unnamed: 0.1,First_Name,Last_Name,player_id,Position,Points,Free_Throw_Percent,Two_Pt_Percent,Three_Pt_Percent,...,Turnovers,Team,Home_Away,win,Team_points,Min_played,Crowd,Stadium_Cap,game_id,game_date
0,0,0,LeBron,James,0afbe608-940a-4d5d-a1f7-468718c67d91,F,19,50.0,81.818,0.0,...,4,Cavaliers,1,1,117,32:23,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
1,1,1,James,Jones,09d25155-c3be-4246-a986-55921a1b5e61,G-F,5,100.0,0.000,100.0,...,0,Cavaliers,1,1,117,5:30,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
2,2,2,J.R.,Smith,5934134d-0d27-42ea-a554-4b0e3e85ce56,G-F,8,0.0,20.000,25.0,...,0,Cavaliers,1,1,117,25:14,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
3,3,3,Kay,Felder,8d3acdd5-9b5a-4d69-9912-de42d979c31a,G,0,0.0,0.000,0.0,...,0,Cavaliers,1,1,117,00:00,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
4,4,4,Mike,Dunleavy,4ec1bff7-ec1b-488b-8a24-aed83e62b4ce,G-F,4,0.0,100.000,0.0,...,0,Cavaliers,1,1,117,22:32,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
5,5,5,Mo,Williams,e43acd9a-43b7-4676-9e97-2ba1d34ef2de,G,0,0.0,0.000,0.0,...,0,Cavaliers,1,1,117,00:00,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
6,6,6,Kevin,Love,7d615ccd-db96-42a3-9a6c-7f18ea25634e,F,23,75.0,44.444,33.3,...,2,Cavaliers,1,1,117,24:59,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
7,7,7,Richard,Jefferson,262d9b81-107d-4921-9002-7ece87bb8004,F,13,50.0,75.000,66.7,...,2,Cavaliers,1,1,117,25:47,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
8,8,8,Kyrie,Irving,dd146010-902b-4ad7-b98c-650d0363a2f0,G,29,100.0,53.333,57.1,...,0,Cavaliers,1,1,117,29:48,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00
9,9,9,Tristan,Thompson,335097c3-7919-49d5-80b0-8062d5d3e89c,C-F,0,0.0,0.000,0.0,...,2,Cavaliers,1,1,117,22:25,20562,20562,0da78f13-73ac-4465-8e31-ecc3029a5dc6,2016-10-25T23:30:00+00:00

In [3]:
nba_top50['player_name'] = nba_top50['First_Name'].str.cat(nba_top50['Last_Name'], sep =" ")
nba_top50 = nba_top50[['player_name', 'Points','Position','game_date']]
nba_top50

               player_name  Points Position                  game_date
0             LeBron James      19        F  2016-10-25T23:30:00+00:00
1              James Jones       5      G-F  2016-10-25T23:30:00+00:00
2               J.R. Smith       8      G-F  2016-10-25T23:30:00+00:00
3               Kay Felder       0        G  2016-10-25T23:30:00+00:00
4            Mike Dunleavy       4      G-F  2016-10-25T23:30:00+00:00
...                    ...     ...      ...                        ...
182364       Marial Shayok       5      G-F  2020-08-15T01:00:00+00:00
182365     Josh Richardson       5        G  2020-08-15T01:00:00+00:00
182366  Glenn Robinson III       0        F  2020-08-15T01:00:00+00:00
182367           Raul Neto      14        G  2020-08-15T01:00:00+00:00
182368       Tobias Harris      18        F  2020-08-15T01:00:00+00:00

[182369 rows x 4 columns]

In [4]:
nba_top50['Date'] = pd.to_datetime(nba_top50['game_date'], errors='coerce')
nba_top50.dtypes

player_name                 object
Points                       int64
Position                    object
game_date                   object
Date           datetime64[ns, UTC]
dtype: object

In [5]:
nba_top50['Date'] = nba_top50['Date'].dt.normalize()

In [6]:
nba_top50['Date'] = nba_top50['Date'].dt.date

In [7]:
nba_top50.head()

     player_name  Points Position                  game_date        Date
0   LeBron James      19        F  2016-10-25T23:30:00+00:00  2016-10-25
1    James Jones       5      G-F  2016-10-25T23:30:00+00:00  2016-10-25
2     J.R. Smith       8      G-F  2016-10-25T23:30:00+00:00  2016-10-25
3     Kay Felder       0        G  2016-10-25T23:30:00+00:00  2016-10-25
4  Mike Dunleavy       4      G-F  2016-10-25T23:30:00+00:00  2016-10-25

In [8]:
nba_top10 = nba_top50.groupby('player_name').sum()['Points']
nba_top10 = nba_top10.sort_values(ascending=False)
nba_top10 = nba_top10.head(10)
nba_top10

player_name
Damian Lillard           9787
Russell Westbrook        9699
Giannis Antetokounmpo    9392
Anthony Davis            9300
LeBron James             9262
Bradley Beal             9017
DeMar DeRozan            8832
James Harden             8683
Kemba Walker             8524
Karl-Anthony Towns       8408
Name: Points, dtype: int64

In [9]:
nba_data = nba_top50.pivot_table(index='Date',columns='player_name',values='Points')
nba_data = nba_data[nba_top10.index.values]
nba_data

player_name,Damian Lillard,Russell Westbrook,Giannis Antetokounmpo,Anthony Davis,LeBron James,Bradley Beal,DeMar DeRozan,James Harden,Kemba Walker,Karl-Anthony Towns
Date,,,,,,,,,,
2016-10-25,NaN,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN
2016-10-26,39.0,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN
2016-10-27,NaN,32.0,31.0,50.0,NaN,13.0,NaN,34.0,17.0,21.0
2016-10-28,29.0,NaN,NaN,NaN,21.0,NaN,32.0,NaN,NaN,NaN
2016-10-29,NaN,51.0,NaN,45.0,23.0,NaN,NaN,26.0,26.5,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-08-11,61.0,20.0,NaN,27.0,29.0,NaN,23.0,0.0,19.0,NaN
2020-08-12,NaN,0.0,12.0,NaN,NaN,NaN,NaN,45.0,NaN,NaN
2020-08-13,NaN,NaN,0.0,0.0,17.0,NaN,0.0,NaN,0.0,NaN
2020-08-14,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-15,NaN,0.0,NaN,NaN,NaN,NaN,NaN,27.0,NaN,NaN

In [10]:
nba_data = nba_data.fillna(0)
nba_data

player_name,Damian Lillard,Russell Westbrook,Giannis Antetokounmpo,Anthony Davis,LeBron James,Bradley Beal,DeMar DeRozan,James Harden,Kemba Walker,Karl-Anthony Towns
Date,,,,,,,,,,
2016-10-25,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0
2016-10-26,39.0,0.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0
2016-10-27,0.0,32.0,31.0,50.0,0.0,13.0,0.0,34.0,17.0,21.0
2016-10-28,29.0,0.0,0.0,0.0,21.0,0.0,32.0,0.0,0.0,0.0
2016-10-29,0.0,51.0,0.0,45.0,23.0,0.0,0.0,26.0,26.5,0.0
...,...,...,...,...,...,...,...,...,...,...
2020-08-11,61.0,20.0,0.0,27.0,29.0,0.0,23.0,0.0,19.0,0.0
2020-08-12,0.0,0.0,12.0,0.0,0.0,0.0,0.0,45.0,0.0,0.0
2020-08-13,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0
2020-08-14,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-08-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,0.0

In [11]:
nba_data = nba_data.cumsum()
nba_data

player_name,Damian Lillard,Russell Westbrook,Giannis Antetokounmpo,Anthony Davis,LeBron James,Bradley Beal,DeMar DeRozan,James Harden,Kemba Walker,Karl-Anthony Towns
Date,,,,,,,,,,
2016-10-25,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0
2016-10-26,39.0,0.0,0.0,0.0,19.0,0.0,40.0,0.0,0.0,0.0
2016-10-27,39.0,32.0,31.0,50.0,19.0,13.0,40.0,34.0,17.0,21.0
2016-10-28,68.0,32.0,31.0,50.0,40.0,13.0,72.0,34.0,17.0,21.0
2016-10-29,68.0,83.0,31.0,95.0,63.0,13.0,72.0,60.0,43.5,21.0
...,...,...,...,...,...,...,...,...,...,...
2020-08-11,7692.0,7057.0,7478.0,7082.5,7076.0,7163.0,6760.0,6211.0,6640.0,6300.0
2020-08-12,7692.0,7057.0,7490.0,7082.5,7076.0,7163.0,6760.0,6256.0,6640.0,6300.0
2020-08-13,7692.0,7057.0,7490.0,7082.5,7093.0,7163.0,6760.0,6256.0,6640.0,6300.0
2020-08-14,7734.0,7057.0,7490.0,7082.5,7093.0,7163.0,6760.0,6256.0,6640.0,6300.0
2020-08-15,7734.0,7057.0,7490.0,7082.5,7093.0,7163.0,6760.0,6283.0,6640.0,6300.0

In [19]:
bcr.bar_chart_race(df=nba_data, filename='nba_points.mp4')

In [18]:
anim.save('animation.gif', writer='imagemagick', fps=60)

NameError: name 'anim' is not defined

In [13]:
# colors = dict(zip(
#         ['Damian Lillard','Russell Westbrook','Giannis Antetokounmpo','Anthony Davis','LeBron James','Bradley Beal','DeMar DeRozan','James Harden','Kemba Walker','Karl-Anthony Towns'],
#         ['#adb0ff','#ffb3ff','#90d595','#e48381','#aafbff','#f7bb5f','#eafb50','#6060c0','#ff5668','#cee5ff']
# ))

# colors

In [14]:
# group_lk = nba_data.set_index("player_name")['Points'].to_dict()
# group_lk

In [15]:
# fig, ax = plt.subplots(figsize=(15,8))

# def racing_barchart(game_date):
#     dff =nba_top50[nba_top50['game_date'].eq(game_date)].sort_values(by='Points',ascending=True).tail(10)
#     ax.barh(dff['player_name'],dff['Points'], color=[colors[group_lk[x]] for x in dff['player_name']])
# plt.show()

# racing_barchart(2016-10-25)

In [17]:
# nba_top50.pivot_table(index='STATE',columns='PLAYERS',values='AST')